<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ToAddress" value="daniel.devarampally@valuelabs.net"/>
    <add key="FromName" value="LAjit Production Server"/>
    <add key="FromAddress" value="alerts@LAjit.biz"/>
    <add key="MailServer" value="smtp.LAjit.biz"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <!--<system.net>
    <mailSettings>
      <smtp>
        <network
             host="smtp.LAjit.biz"
             port="25"
             userName="alerts@LAjit.biz"
             password="l@j!t123" />
      </smtp>
    </mailSettings>
  </system.net>-->


</configuration>
