<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" autoReload="true"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>

    <!--file logging  // :includeNLogData=true-->
    <target name="FileTarget" xsi:type="File" fileName="C:\LajitFiles\LAjitDevNlogs\${aspnet-session:variable=CompanyName}\${shortdate}.xml"
 layout="${log4jxmlevent:includeSourceInfo=true:includeCallSite=true:includeMDC=true
               :appInfo=String:includeNDC=true:indentXml=true}" />

    <!--for network logging-->
    <target name="NetworkTarget" xsi:type="Network" address="udp://127.0.0.1:9999" layout="${log4jxmlevent:includeSourceInfo=true:includeCallSite=true:includeMDC=true
               :appInfo=String:includeNDC=true:indentXml=true
               :includeNLogData=true}"   />

    <!--for mail logging-->
    <target xsi:type="Mail" name="MailTarget" html="true" subject="${message}" body="${message}"
          layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${callsite}"
          
          to=""
          from=""
          smtpAuthentication="None"
          smtpServer=""
          smtpPort="25" />

  
<!--Database logging-->
    <target name="DatabaseTarget" xsi:type="Database" dbProvider="mssql"  keepConnection="true" useTransactions="false"
              connectionString="Data Source=192.168.108.105;Database=NLog;UId=savl;pwd=V@lue#12;"
              commandText="insert into [dbo].[applicationlog](loglevel,logger,logmessage,classmethod,stacktrace) values (@LEVEL,@LOGGER,@MESSAGE,@CLASS_METHOD,@STACKTRACE)">
      <parameter name="@LEVEL" layout="${level:uppercase=true}"/>
      <parameter name="@LOGGER" layout="${logger}"/>
      <parameter name="@MESSAGE" layout="${message}"/>
      <parameter name="@CLASS_METHOD" layout="${callsite}"/>
      <parameter name="@STACKTRACE" layout="${stacktrace}"/>
    </target>

  </targets>

  <!--<targets>
    <target xsi:type="Mail"
            name="String"
            header="Layout"
            footer="Layout"
            layout="Layout"
            html="Boolean"
            addNewLines="Boolean"
            encoding="Encoding"
            subject="Layout"
            to="Layout"
            bcc="Layout"
            cc="Layout"
            from="Layout"
            body="Layout"
            smtpUsername="Layout"
            enableSsl="Boolean"
            smtpPassword="Layout"
            smtpAuthentication="Enum"
            smtpServer="Layout"
            smtpPort="Integer" />
  </targets>-->

  <rules>
    <!--avaliable  targets

    1.FileTarget
    2.NetworkTarget
    3.MailTarget ( before using the MailTarget do configure the Mail Target Details in the MailTarget section).
    4.MailTarget-->

    <logger name="*" level="Info" writeTo="FileTarget" />
    <logger name="*" level="Fatal" writeTo="FileTarget" />
    <logger name="*" level="Debug" writeTo="FileTarget" />
  </rules>
</nlog>
