<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="LAjitDev.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<appSettings>
		<!--<add key="SmallViewAlternatingStyle" value="55"/>
		<add key="FullViewAlternatingStyle" value="56"/>
		<add key="SmallViewHyperlinks" value="57"/>
		<add key="FullViewHyperlinks" value="58"/>
		<add key="AssignedTheme" value="430"/>
		
		--><!-- Store the TypeOfPreference IDs for the DashBoard gridviews--><!--
		<add key="DashBoardCPGV1" value="41"/>
		<add key="DashBoardCPGV2" value="42"/>
		<add key="DashBoardGraphicsPnl" value="436"/>

		<add key="DashBoardLPGV1" value="51"/>
		<add key="DashBoardLPGV2" value="52"/>
		<add key="DashBoardRPGV1" value="46"/>
		<add key="DashBoardRPGV2" value="47"/>
		<add key="DashBoardRPGV3" value="48"/>
		<add key="DashBoardRPGV4" value="49"/>

		<add key="DefaultGridSize" value="59"/>
		<add key="GridRefreshInterval" value="60"/>
		<add key="EntryFormRefreshInterval" value="205"/>

		<add key="Display RSS Feeds" value="438"/>
		<add key="RSS Refresh Rate" value="439"/>
		<add key="RSS Feed 1" value="440"/>
		<add key="RSS Feed 2" value="441"/>
		<add key="RSS Feed 3" value="442"/>
		<add key="SarbanesOxleyCompliant" value="210"/>-->
		<!-- Chart Type DDL key-->
		<!--<add key="Chart Preference" value="801"/>-->
		<!-- Entry All UpperCase Letters key -->
		<!--<add key="EnterAllUpperCase" value="16"/>-->
		<!--For Mailing-->
		<add key="FromAddress" value="shanti.molleti@valuelabs.net"/>
		<add key="ToAddress" value="shanti.molleti@valuelabs.net"/>
		<add key="MailServer" value="mx.valuelabs.net"/>
		<add key="MailFrom" value="DevTeam@LAjit.biz"/>
		<add key="FromName" value="shanti"/>
		<!--Grid Collapsing default value-->
		<!--<add key="GridCollapse" value="432"/>-->
		<!--Specifies whether Quick Search Bar in Grid should displayed on load or not-->
		<!--<add key="GridSearchVisible" value="437"/>-->
		<!--Set GMT value to 8 when it is Zero-->
		<add key="DefGMT" value="-8"/>
		<!--Describes the colour to be used for Row hovering for all the grids.-->
		<add key="GridRowHoverColor" value="orange"/>
		<!--Branch GridView-->
		<!--Stores the number of rows to add when AddMore is clicked upon-->
		<add key="AddBlockSize" value="5"/>
		<add key="BranchGVMaxRows" value="8"/>
		<add key="ServerSideViewState" value="true"/>
		<!--ViewStateStore: session|application|appglobals|cache-->
		<add key="ViewStateStore" value="appglobals"/>
		<!-- Attachments Folder path for upload and download files -->
		<add key="AttachmentsPath" value="C:\lajitfiles\Attachments"/>
		<!--This is For Attachments Virtual Path to Show Images-->
		<add key="AttachmentsVirtualPath" value="http://172.20.160.91/lajitfiles/Attachments/"/>
		<!-- ErrorLog Folder path.-->
		<add key="ErrorLogPath" value="C:\lajitfiles\ErrorLogs"/>
		<!-- Print Stuff: Specifies whether the Branch Data has to printed or not if avaialable(Allowed Values:0/1) .-->
		<add key="PrintBranchData" value="1"/>
		<!--Reports-->
		<add key="XmlFilePath" value="C:\lajitfiles\TempFiles"/>
		<add key="TempFilePath" value="C:\lajitfiles\TempFiles"/>
		<add key="zipNormal" value="Normal"/>
		<add key="ShowPDF" value="1"/>
		<!-- Print Reports : Specify if  the fullview length is zero need to consider columns length more than zero. if the value not zero consider all the columns (Allowed Value:0/any number)-->
		<add key="CustReptHidden" value="0"/>
		<!-- Specifies whether the user should be redirected to an error page automatically upon session expire in the client-side itself(0/1) -->
		<add key="AutoRedirectUponSessionExpire" value="0"/>
		<!-- Store BPE xml storage path-->
		<add key="XMLStoragePath" value="C:\lajitfiles\XMLStorage"/>
		<!-- Streaming Server Location To Play files -->
		<add key="StreamingServerPath" value="rtmp://172.20.160.91/vod/"/>
		<!-- Help Files Virtual Directory Location -->
		<add key="HelpVirtualPath" value="http://172.20.160.91/lajitfiles/HelpFiles/"/>
		<!-- Help Files storage folder path(Authoring) Flash files played location-->
		<add key="HelpFilesPath" value="C:\lajitfiles\HelpFiles"/>
		<!-- Set the BPInfo/BPOut logging to on or off(0/1)-->
		<add key="IOLogging" value="0"/>
		<!-- Set auto fill items count  -->
		<add key="AutoFillItemsCount" value="20"/>
		<!-- Chart Files Physical file location -->
		<add key="ChartFilePath" value="C:\lajitfiles\WebCharts"/>
		<!-- Excel Templates File Location -->
		<add key="ExcelTemplatePath" value="C:\lajitfiles\ExcelTemplates"/>
		<!-- Chart Handler To Create and Access chart file from Physical and Virtual Directories -->
		<!--<add key="ChartHttpHandler" value="Storage=File;Timeout=360;Dir=C:\lajitfiles\WebCharts\;Url=http://172.20.160.91/lajitfiles/WebCharts;deleteAfterServicing:true "/>-->
		<add key="ChartHttpHandler" value="Storage=memory;Timeout=30;;Url=~/temp/;"/>
		<!-- CDN Script/Images Local location paths -->
		<add key="ScriptsCDNPath" value="../JavaScript/"/>
		<add key="ImagesCDNPath" value="http://localhost:4481/App_Themes/"/>
		<add key="HostedURL" value="../"/>
		<add key="ImagesPath" value="D:\LAjitTFS\LAJITWEBAPPLICATION\Development\FeatureTeam-A\Source\UI\App_Themes"/>
		<!-- CDN location  Valuelabs sr-corp-lajit paths -->
		<!--<add key="ScriptsCDNPath" value="http://172.20.160.91/LAJITCDNJS/JavaScript/"/>
		<add key="ImagesCDNPath" value="http://172.20.160.91/LAJITCDNIMAGES/LAjit/"/>
		<add key="HostedURL" value="http://172.20.160.91/LAJIT/"/>
		<add key="ImagesPath" value="c:\lajitcdnimages\"/>
		-->
	</appSettings>
	<connectionStrings>
		<!--This is For 70-->
		<!--<add name="LAjitDev_ConnectionString" connectionString="Data Source=192.168.100.80;Database=LAjitSOA;UId=savl;pwd=Value*123;Connect Timeout=200;Min Pool Size=5;Max Pool Size=60;" providerName="System.Data.SqlClient"/>-->
		<!-- LajitC 70 Frank db-->
		<!--<add name="LAjitDev_ConnectionString" connectionString="Data Source=192.168.100.180\devlajit1;Database=LAjitSOA;UId=savl;pwd=V@lue*123;Connect Timeout=200;Min Pool Size=5;Max Pool Size=60;" providerName="System.Data.SqlClient" />-->
		<!-- 170 Lajit beta -->
		<!--<add name="LAjitDev_ConnectionString" connectionString="Data Source=192.168.100.170;Database=LAjitSOA;UId=savl;pwd=Value*123;Connect Timeout=200;Min Pool Size=5;Max Pool Size=60;" providerName="System.Data.SqlClient" />-->
		<!--moxie db-->
		<!--<add name="LAjitDev_ConnectionString" connectionString="Data Source=sqlprod\LAjitLAMoxie;Database=LAjitSOA;UId=savl;pwd=V@lue*123;Connect Timeout=200;Min Pool Size=5;Max Pool Size=60;" providerName="System.Data.SqlClient" />-->
		<!--70 alpha -->
		<!--<add name="LAjitDev_ConnectionString" connectionString="Data Source=WINSERVX64\DEVLAJIT4;Database=LAjitSOA;UId=savl;pwd=V@lue*123;Connect Timeout=200;Min Pool Size=5;Max Pool Size=60;" providerName="System.Data.SqlClient" />-->
		<!-- Beta2 PROD-->
		<!--<add name="LAjitDev_ConnectionString" connectionString="Data Source=SQLPROD\LAjitLAHELLO;Database=LAjitSOA;UId=savl;pwd=V@lue*123;Connect Timeout=200;Min Pool Size=5;Max Pool Size=60;" providerName="System.Data.SqlClient" />-->
		<!-- local db-->
		<add name="LAjitDev_ConnectionString" connectionString="Data Source=192.168.108.105;Database=LAjitSOA;UId=savl;pwd=V@lue#12;Connect Timeout=200;Min Pool Size=5;Max Pool Size=60;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<profile>
			<properties>
				<add name="Theme" defaultValue="LAjit"/>
			</properties>
		</profile>
		<!--Configures the level of code access security (CAS) that is applied to an application-->
		<trust level="Full"/>
		<pages enableViewStateMac="false" viewStateEncryptionMode="Never" validateRequest="false" enableEventValidation="false" enableSessionState="true" enableViewState="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add tagPrefix="GVUC" src="~/UserControls/GridViewControl.ascx" tagName="GVUserControl"/>
				<add tagPrefix="BtnsUC" src="~/UserControls/ButtonsUserControl.ascx" tagName="BtnsUserControl"/>
				<add tagPrefix="LCtrl" assembly="LAjitControls" namespace="LAjitControls"/>
				<add tagPrefix="CUC" src="~/UserControls/ChartUserControl.ascx" tagName="CVUserControl"/>
			</controls>
		</pages>
		<!--On -  Specifies that custom errors are enabled. If no defaultRedirect attribute is specified, 
                users see a generic error. The custom errors are shown to the remote clients and to the local host.
        Off- Specifies that custom errors are disabled. The detailed ASP.NET errors are shown to the  
                remote clients and to the local host.
        RemoteOnly- Specifies that custom errors are shown only to the remote clients, and that ASP.NET errors 
                 are shown to the local host. This is the default value.-->
		<customErrors mode="Off" defaultRedirect="Common/ContentError.aspx">
			<!--<error statusCode="403" redirect="NoAccess.htm" />
			<error statusCode="404" redirect="FileNotFound.htm" />-->
		</customErrors>
		<!-- This session timeout is also used in cache sliding expiration -->
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="30"/>
		<!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies>
		</compilation>
		<httpHandlers>
			<add verb="POST,GET" path="ajax/*.ashx" type="Ajax.PageHandlerFactory, Ajax"/>
			<add path="ChartAxd.axd" verb="*" type="Dundas.Charting.WebControl.ChartHttpHandler" validate="false"/>
		</httpHandlers>
		<httpModules>
			<add name="Session" type="System.Web.SessionState.SessionStateModule"/>
		</httpModules>
		<httpRuntime requestValidationMode="2.0" executionTimeout="300" maxRequestLength="51200"/>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
			<add name="Ajax" verb="POST,GET" path="ajax/*.ashx" type="Ajax.PageHandlerFactory, Ajax" resourceType="Unspecified" preCondition="integratedMode"/>
		</handlers>
		<!--<authentication type="Windows" />-->
		<!--
		<identity impersonate="true" userName="CORP\csama" password="Saivijaya1983"/>-->
	</system.webServer>
	<applicationSettings>
		<LAjitDev.Properties.Settings>
			<setting name="LAjitDev_Fedex_Rate_Services_RateService" serializeAs="String">
				<value>https://gatewaybeta.fedex.com:443/web-services</value>
			</setting>
			<setting name="LAjitDev_Fedex_Ship_Services_ShipService" serializeAs="String">
				<value>https://gatewaybeta.fedex.com:443/web-services</value>
			</setting>
			<setting name="LAjitDev_Fedex_Express_US_Domestic_Shipping_ShipService" serializeAs="String">
				<value>https://gatewaybeta.fedex.com:443/web-services</value>
			</setting>
			<setting name="LAjitDev_Fedex_Track_Services" serializeAs="String">
				<value>https://gatewaybeta.fedex.com:443/web-services</value>
			</setting>
		</LAjitDev.Properties.Settings>
	</applicationSettings>
</configuration>
